<div uk-filter="target: .js-filter">
    <ul class="uk-subnav uk-subnav-pill">
        <li class="uk-active" uk-filter-control="sort: data-name"><a href="#">Name</a></li>
        <li uk-filter-control="sort: data-image"><a href="#">Image</a></li>
        <li class="uk-margin-auto-left"><a href="/workers?action=new">New Worker</a></li>
    </ul>
    <ul class="js-filter uk-child-width-1-1 uk-child-width-1-1@m uk-grid-small" uk-grid>
        {{#ds_items}}
        <li data-name="{{name}}" data-image="{{image}}">
            <div class="uk-card uk-card-body uk-padding-small uk-background-muted">
                <div class="uk-float-left uk-width-1-2">
                    <div>
                        <span class="uk-inline uk-text-small" style="width: 53px">NAME:</span><span class="uk-inline uk-text-light uk-text-small">{{name}}</span>
                    </div>
                    <div>
                        <span class="uk-inline uk-text-small" style="width: 53px">ID:</span><span class="uk-inline uk-text-light uk-text-small">{{id}}</span>
                    </div>
                </div>
                <div class="uk-float-right uk-width-1-2">
                    <div>
                        <span class="uk-inline uk-text-small" style="width: 53px">IMAGE:</span><span class="uk-inline uk-text-light uk-text-small">{{image}}</span>
                    </div>
                    <div>
                        <span class="uk-inline uk-text-small" style="width: 72px">DESCRIPTION:</span><span class="uk-inline uk-text-light uk-text-small">{{description}}</span>
                    </div>
                </div>
                <hr class="uk-float-left uk-width-1-1 uk-margin-small-top uk-margin-small-bottom">
                <div class="uk-float-left uk-width-1-1">
                    <a href="/workers/{{id}}?action=edit" class="uk-icon-link" style="margin-right: 30px" uk-icon="pencil"><span class="uk-text-small" style="margin-right: 5px">EDIT</span></a>
                    <a href="/workers/{{id}}?action=details" class="uk-icon-link" style="margin-right: 30px" uk-icon="search"><span class="uk-text-small" style="margin-right: 5px">DETAILS</span></a>
                    <a onclick="active_cmp.list.delete('{{id}}');" class="uk-icon-link" uk-icon="trash"><span class="uk-text-small" style="margin-right: 5px">DELETE</span></a>
                </div>
            </div>
        </li>
        {{/ds_items}}
    </ul>
</div>