<div class="uk-card uk-card-default uk-card-body uk-padding-small">
    <div class="uk-float-left uk-width-1-2">
        <div>
            <span class="uk-inline uk-text-small" style="width: 75px">JOB:</span><span class="uk-inline uk-text-light uk-text-small">{{id}}</span>
        </div>
        <div>
            <span class="uk-inline uk-text-small" style="width: 75px">CREATED:</span><span class="uk-inline uk-text-light uk-text-small">{{created}}</span>
        </div>
        <div>
            <span class="uk-inline uk-text-small" style="width: 75px">STATUS:</span><span class="uk-inline uk-text-light uk-text-small">{{status}}</span>
        </div>
    </div>
    <div class="uk-float-left uk-width-1-2">
        <div>
            <span class="uk-inline uk-text-small" style="width: 110px">DATA-SOURCE:</span><a class="uk-inline uk-text-light uk-text-small uk-link-text" href="/data-sources/{{ds_id}}">{{ds_id}}</a>
        </div>
        <div>
            <span class="uk-inline uk-text-small" style="width: 110px">PIPELINE:</span><a class="uk-inline uk-text-light uk-text-small uk-link-text" href="/pipelines/{{pipeline_id}}">{{pipeline_id}}</a>
        </div>
    </div>
<!--    <hr class="uk-float-left uk-width-1-1">-->
    <div class="uk-float-left uk-width-1-1 uk-margin-small-top">
        <ul class="uk-child-width-1-1 uk-child-width-1-1@m uk-grid-small" uk-grid>
            {{#stages}}
            <li>
                <div class="uk-card uk-card-body uk-padding-small" style="border: 1px dashed #e5e5e5;">
                    <div class="uk-float-left uk-width-1-1">
                        <div>
                            <span class="uk-inline uk-text-small" style="width: 80px">STAGE:</span><span class="uk-inline uk-text-light uk-text-small">{{stage}}</span>
                        </div>
                        <div style="margin-top: 4px">
                            <span class="uk-inline uk-text-top uk-text-small" style="width: 80px">OUTPUTS:</span><div class="uk-inline uk-text-light uk-text-top uk-text-small">{{#fields}}<div>{{field}} = <span class="uk-text-italic">{{f_value}}</span></div>{{/fields}}{{#null_fields}}<div class="uk-text-italic">{{field}}</div>{{/null_fields}}</div>
                        </div>
                    </div>
                </div>
            </li>
            {{/stages}}
        </ul>
    </div>
</div>