<div uk-filter="target: .js-filter">
    <ul class="uk-subnav uk-subnav-pill">
        <li>
            <a href="#">Sort by<span style="margin-left: 5px" uk-icon="icon: triangle-down"></span></a>
            <div uk-dropdown>
                <ul class="uk-nav uk-dropdown-nav">
                    <li class="uk-active" uk-filter-control="sort: data-date; order: desc"><a href="#">Date</a></li>
                    <li uk-filter-control="sort: data-status"><a href="#">Status</a></li>
                    <li uk-filter-control="sort: data-ds"><a href="#">Data-Source</a></li>
                    <li uk-filter-control="sort: data-pipe"><a href="#">Pipeline</a></li>
                </ul>
            </div>
        </li>
        {{#history}}
        <li class="uk-margin-auto-left"><a href="/jobs">Show Active</a></li>
        {{/history}}
        {{^history}}
        <li class="uk-margin-auto-left"><a href="/jobs?show=history">Show History</a></li>
        {{/history}}
    </ul>
    <ul class="js-filter uk-child-width-1-1 uk-child-width-1-1@m uk-grid-small" uk-grid>
        {{#jobs}}
        <li data-date="{{created}}" data-status="{{status}}" data-ds="{{ds_id}}" data-pipe="{{pipeline_id}}">
            <div class="uk-card uk-card-body uk-padding-small uk-background-muted">
                <div class="uk-float-left uk-width-1-2">
                    <div>
                        <span class="uk-inline uk-text-small" style="width: 75px">JOB:</span><span class="uk-inline uk-text-light uk-text-small">{{id}}</span>
                    </div>
                    <div>
                        <span class="uk-inline uk-text-small" style="width: 75px">CREATED:</span><span class="uk-inline uk-text-light uk-text-small">{{created}}</span>
                    </div>
                    <div>
                        <span class="uk-inline uk-text-small" style="width: 75px">STATUS:</span><span class="{{status}} uk-inline uk-text-light uk-text-small">{{status}}</span>
                    </div>
                </div>
                <div class="uk-float-right uk-width-1-2">
                    <div>
                        <span class="uk-inline uk-text-small" style="width: 110px">DATA-SOURCE:</span><span class="uk-inline uk-text-light uk-text-small">{{ds_id}}</span>
                    </div>
                    <div>
                        <span class="uk-inline uk-text-small" style="width: 110px">PIPELINE:</span><a class="uk-inline uk-text-light uk-text-small uk-link-text" href="/pipelines/{{pipeline_id}}">{{pipeline_id}}</a>
                    </div>
                </div>
                <hr class="uk-float-left uk-width-1-1 uk-margin-small-top uk-margin-small-bottom">
                <div class="uk-float-left uk-width-1-1">
                    <a href="/jobs/{{id}}{{#history}}?show=history{{/history}}" class="uk-icon-link" style="margin-right: 25px" uk-icon="search"><span class="uk-text-small" style="margin-right: 5px">DETAILS</span></a>
                    {{#running}}
                    <a onclick="active_cmp.list.abort('{{id}}');" class="uk-icon-link" uk-icon="ban"><span class="uk-text-small" style="margin-right: 5px">ABORT</span></a>
                    {{/running}}
                </div>
            </div>
        </li>
        {{/jobs}}
    </ul>
</div>