<div class="uk-grid uk-grid-small" id="conf-{{id}}">
    <div class="uk-width-expand">
        <input class="uk-input" type="text" id="conf-{{id}}-key" name="conf-{{id}}-key" value="{{key}}" placeholder="Field name" uk-tooltip="title: Config field name; pos: top-left; delay: 500" required>
    </div>
    <div class="uk-width-expand">
        <input class="uk-input" type="text" id="conf-{{id}}-value" name="conf-{{id}}-value" value="{{value}}" placeholder="Default value (optional)" uk-tooltip="title: Config field default value (optional); pos: top-left; delay: 500">
    </div>
    <div class="uk-width-auto">
        <button class="uk-button uk-button-default uk-icon" type="button" uk-icon="trash" uk-tooltip="title: Remove config field; pos: top-left; delay: 500" onclick="active_cmp.form.removeConfigFields('conf-{{id}}')"></button>
    </div>
</div>