<div class="uk-card uk-card-body uk-padding-small uk-background-muted">
    <div class="uk-float-left uk-width-1-2">
        <div>
            <span class="uk-inline uk-text-small" style="width: 75px">JOB:</span><span class="uk-inline uk-text-light uk-text-small">{{id}}</span>
        </div>
        <div>
            <span class="uk-inline uk-text-small" style="width: 75px">CREATED:</span><span class="uk-inline uk-text-light uk-text-small">{{created}}</span>
        </div>
        <div>
            <span class="uk-inline uk-text-small" style="width: 75px">STATUS:</span><span class="{{status}} uk-inline uk-text-light uk-text-small">{{status}}</span>
        </div>
    </div>
    <div class="uk-float-left uk-width-1-2">
        <div>
            <span class="uk-inline uk-text-small" style="width: 110px">DATA-SOURCE:</span><a class="uk-inline uk-text-light uk-text-small uk-link-text" href="/data-sources/{{ds_id}}?action=details">{{ds_id}}</a>
        </div>
        <div>
            <span class="uk-inline uk-text-small" style="width: 110px">PIPELINE:</span><a class="uk-inline uk-text-light uk-text-small uk-link-text" href="/pipelines/{{pipeline_id}}?action=details">{{pipeline_id}}</a>
        </div>
    </div>
    <div class="uk-float-left uk-width-1-1 uk-margin-small-top">
        <ul class="uk-child-width-1-1 uk-child-width-1-1@m uk-grid-small" uk-grid>
            {{#stages}}
            <li>
                <div class="uk-card uk-card-body uk-padding-small" style="border: 1px dashed #e5e5e5;">
                    <div class="uk-float-left uk-width-1-1">
                        <div>
                            <span class="uk-inline uk-text-small" style="width: 96px">STAGE:</span><span class="uk-inline uk-text-light uk-text-small">{{stage}}</span>
                        </div>
                        <div>
                            <span class="uk-inline uk-text-small" style="width: 96px">STARTED:</span><span class="uk-inline uk-text-light uk-text-small">{{started}}</span>
                        </div>
                        <div>
                            <span class="uk-inline uk-text-small" style="width: 96px">COMPLETED:</span><span class="uk-inline uk-text-light uk-text-small">{{completed}}</span>
                        </div>
                        <div style="margin-top: 4px">
                            <span class="uk-inline uk-text-top uk-text-small" style="width: 96px">INPUTS:</span><div class="uk-inline uk-text-light uk-text-top uk-text-small">{{#i_fields}}<div>{{field}} = <span class="uk-text-italic">{{f_value}}</span></div>{{/i_fields}}{{#null_i_fields}}<div class="uk-text-italic">{{field}}</div>{{/null_i_fields}}</div>
                        </div>
                        <div style="margin-top: 4px">
                            <span class="uk-inline uk-text-top uk-text-small" style="width: 96px">OUTPUTS:</span><div class="uk-inline uk-text-light uk-text-top uk-text-small">{{#fields}}<div>{{field}} = <span class="uk-text-italic">{{f_value}}</span></div>{{/fields}}{{#null_fields}}<div class="uk-text-italic">{{field}}</div>{{/null_fields}}</div>
                        </div>
                    </div>
                    <div class="uk-grid-collapse uk-width-1-1" uk-grid>
                        <div style="width: 96px">
                            <span class="uk-text-small">LOG:</span>
                        </div>
                        <div class="uk-margin-small-top uk-padding-small uk-width-expand uk-text-small uk-text-light uk-text-left" style="border: 1px dashed #e5e5e5; height: 250px; overflow-x: auto; white-space: pre;">{{log}}</div>
                    </div>
                </div>
            </li>
            {{/stages}}
        </ul>
    </div>
</div>
