<div id="stage-{{num}}" class="uk-flex-none uk-card uk-card-body uk-padding-small uk-margin-small-right uk-background-muted" style="width: 450px; border: 1px dashed #e5e5e5;">
    <div>
        <label class="uk-form-label uk-text-uppercase" for="stage-{{num}}-name" style="color: #666666; width: 100px; margin-bottom: 5px;">Stage</label>
        <div class="uk-form-controls uk-margin-auto-left" uk-tooltip="title: Stage name; pos: top-left; delay: 500">
            <input class="uk-input" id="stage-{{num}}-name" name="stage-{{num}}-name" type="text" value="{{name}}">
        </div>
    </div>
    <div>
        <div class="uk-text-uppercase uk-margin-small-top" style="color: #666666; font-size: 0.875rem">Worker</div>
        <div class="uk-flex uk-flex-left uk-flex-top uk-flex-nowrap uk-margin-small-right uk-width-1-1" style="margin-top: 5px">
            <div class="uk-flex-none uk-form-controls uk-margin-remove uk-width-1-2">
                <input class="uk-input" type="text" value="{{w_name}}" disabled>
                <input class="uk-input" id="stage-{{num}}-w-name" name="stage-{{num}}-w-name" type="text" value="{{w_name}}" hidden>
            </div>
            <div class="uk-flex-none uk-form-controls uk-margin-remove uk-width-1-2">
                <input class="uk-input" type="text" value="{{w_id}}" disabled>
                <input class="uk-input" id="stage-{{num}}-w-id" name="stage-{{num}}-w-id" type="text" value="{{w_id}}" hidden>
            </div>
        </div>
    </div>
    <hr>
    <div class="uk-flex uk-flex-left uk-flex-top uk-flex-nowrap uk-margin-small-top" uk-height-match>
        <div class="uk-flex-none uk-width-3-5" style="border-right: 1px solid #e5e5e5;">
            <div class="uk-text-uppercase uk-margin-small-right" style="color: #666666; font-size: 0.875rem; margin-bottom: 5px">Input</div>
            {{#input}}
            <div class="uk-flex uk-flex-left uk-flex-top uk-flex-nowrap uk-margin-small-right">
                <div class="uk-flex-none uk-form-controls uk-margin-remove uk-width-1-2">
                    <input class="uk-input" type="text" value="{{name}}" disabled>
                    <input class="uk-input" id="stage-{{num}}-input-{{name}}-field" name="stage-{{num}}-input-{{name}}-field" type="text" value="{{name}}" hidden>
                </div>
                <div class="uk-flex-none uk-form-controls uk-margin-remove uk-width-1-2">
                    <select class="uk-select" id="stage-{{num}}-input-{{name}}-value" name="stage-{{num}}-input-{{name}}-value" onchange="" uk-tooltip="title: Select output to map to this input field; pos: top-left; delay: 500">
                        <option value="">None</option>
                    </select>
                </div>
            </div>
            {{/input}}
        </div>
        <div class="uk-flex-none uk-width-2-5">
            <div class="uk-text-uppercase uk-margin-small-left" style="color: #666666; font-size: 0.875rem; margin-bottom: 5px">Output</div>
            {{#output}}
            <div class="uk-form-controls uk-margin-small-left">
                <input class="uk-input" type="text" value="{{name}}" disabled>
                <input class="uk-input" id="stage-{{num}}-output-{{name}}-field" name="stage-{{num}}-output-{{name}}-field" type="text" value="{{name}}" hidden>
            </div>
            {{/output}}
        </div>
    </div>
    {{#has_configs}}
    <hr>
    <div>
        <div class="uk-text-uppercase" style="color: #666666; font-size: 0.875rem; margin-bottom: 5px">Configs</div>
        {{#configs}}
        <div class="uk-flex uk-flex-left uk-flex-top uk-flex-nowrap uk-margin-small-right uk-width-1-1">
            <div class="uk-flex-none uk-form-controls uk-margin-remove uk-width-1-2">
                <input class="uk-input" type="text" value="init_sourcesdfsdfsdfsdf" disabled>
                <input class="uk-input" id="stage-0-output" name="stage-0-output" type="text" value="init_source" hidden>
            </div>
            <div class="uk-flex-none uk-form-controls uk-margin-remove uk-width-1-2">
                <input class="uk-input" id="stage-0-output" name="stage-0-output" type="text" value="">
            </div>
        </div>
        {{/configs}}
    </div>
    {{/has_configs}}
    <hr>
    <div>
        <button class="uk-button uk-button-text" style="display: inline-flex; align-items: center;" type="button" onclick="active_cmp.form.removeStage('stage-{{num}}')">Delete<span style="margin-left: 5px" uk-icon="icon: trash"></span></button>
    </div>
</div>