<div id="{{id}}" class="uk-flex-none uk-card uk-card-body uk-padding-small uk-margin-small-right uk-background-muted" style="width: 450px; border: 1px dashed #e5e5e5;">
    <div>
        <label class="uk-form-label uk-text-uppercase" for="{{id}}-number" style="color: #666666; width: 100px; margin-bottom: 5px;">Stage</label>
        <div class="uk-form-controls uk-margin-auto-left" uk-tooltip="title: Stage number; pos: top-left; delay: 500">
            <input class="uk-input" id="{{id}}-number" type="text" value="{{number}}" disabled>
        </div>
    </div>
    <div>
        <label class="uk-form-label uk-text-uppercase" for="{{id}}-description" style="color: #666666; width: 100px; margin-bottom: 5px;">Description</label>
        <div class="uk-form-controls uk-margin-auto-left" uk-tooltip="title: Stage description; pos: top-left; delay: 500">
            <input class="uk-input" id="{{id}}-description" name="{{id}}-description" type="text" value="{{description}}">
        </div>
    </div>
    {{#w_id}}
    <div>
        <div class="uk-text-uppercase uk-margin-small-top" style="color: #666666; font-size: 0.875rem">Worker</div>
        <div class="uk-flex uk-flex-left uk-flex-top uk-flex-nowrap uk-margin-small-right uk-width-1-1" style="margin-top: 5px">
            <div class="uk-flex-none uk-form-controls uk-margin-remove uk-width-1-2">
                <input class="uk-input" type="text" value="{{w_name}}" uk-tooltip="title: Worker name; pos: top-left; delay: 500" disabled>
            </div>
            <div class="uk-flex-none uk-form-controls uk-margin-remove uk-width-1-2">
                <input class="uk-input" type="text" value="{{w_id}}" uk-tooltip="title: Worker ID; pos: top-left; delay: 500" disabled>
            </div>
        </div>
    </div>
    {{/w_id}}
    <hr>
    <div class="uk-flex uk-flex-left uk-flex-top uk-flex-nowrap uk-margin-small-top" uk-height-match>
        <div class="uk-flex-none uk-width-3-5" style="border-right: 1px solid #e5e5e5;">
            <div class="uk-text-uppercase uk-margin-small-right" style="color: #666666; font-size: 0.875rem; margin-bottom: 5px">Input [{{i_type}}]</div>
            {{#input}}
            <div class="uk-flex uk-flex-left uk-flex-top uk-flex-nowrap uk-margin-small-right">
                <div class="uk-flex-none uk-form-controls uk-margin-remove uk-width-1-2">
                    <input class="uk-input" type="text" value="{{name}}" uk-tooltip="title: {{media_type}}; pos: top-left; delay: 500" disabled>
                    <input class="uk-input" id="{{id}}-input-{{i_num}}-key" name="{{id}}-input-{{i_num}}-key" type="text" value="{{name}}" hidden>
                </div>
                <div class="uk-flex-none uk-form-controls uk-margin-remove uk-width-1-2">
                    <select class="uk-select" id="{{id}}-input-{{i_num}}-value" name="{{id}}-input-{{i_num}}-value" onchange="" uk-tooltip="title: Output to map to input field; pos: top-left; delay: 500">
                        <option value="">None</option>
                        {{#values}}
                        <option value="{{name}}" {{#selected}}selected{{/selected}}>{{name}}</option>
                        {{/values}}
                    </select>
                </div>
            </div>
            {{/input}}
        </div>
        <div class="uk-flex-none uk-width-2-5">
            <div class="uk-text-uppercase uk-margin-small-left" style="color: #666666; font-size: 0.875rem; margin-bottom: 5px">Output [{{o_type}}]</div>
            {{#output}}
            <div class="uk-form-controls uk-margin-small-left">
                <input class="uk-input" type="text" value="{{name}}" uk-tooltip="title: {{media_type}}; pos: top-left; delay: 500" disabled>
            </div>
            {{/output}}
        </div>
    </div>
    {{#has_configs}}
    <hr>
    <div>
        <div class="uk-text-uppercase" style="color: #666666; font-size: 0.875rem; margin-bottom: 5px">Configs</div>
        {{#configs}}
        <div class="uk-flex uk-flex-left uk-flex-top uk-flex-nowrap uk-margin-small-right uk-width-1-1">
            <div class="uk-flex-none uk-form-controls uk-margin-remove uk-width-1-2">
                <input class="uk-input" type="text" value="{{key}}" uk-tooltip="title: Worker config field; pos: top-left; delay: 500" disabled>
                <input class="uk-input" id="{{id}}-config-{{c_num}}-key" name="{{id}}-config-{{c_num}}-key" type="text" value="{{key}}" hidden>
            </div>
            <div class="uk-flex-none uk-form-controls uk-margin-remove uk-width-1-2">
                <input class="uk-input" id="{{id}}-config-{{c_num}}-value" name="{{id}}-config-{{c_num}}-value" type="text" value="{{value}}" uk-tooltip="title: Config field value; pos: top-left; delay: 500">
            </div>
        </div>
        {{/configs}}
    </div>
    {{/has_configs}}
    {{^init}}
    <hr>
    <div>
        <button class="uk-button uk-button-text" style="display: inline-flex; align-items: center;" type="button" onclick="active_cmp.form.removeStage('{{id}}')">Delete<span style="margin-left: 5px" uk-icon="icon: trash"></span></button>
    </div>
    {{/init}}
</div>