<div class="uk-card uk-card-body uk-padding-small uk-background-muted">
    {{^id}}
    <h4 class="uk-heading-divider uk-text-light">Add new Pipeline:</h4>
    {{/id}}
    {{#id}}
    <h4 class="uk-heading-divider uk-text-light">Edit Pipeline:</h4>
    {{/id}}
    <form class="uk-form-horizontal">
        {{#id}}
        <div class="uk-margin">
            <label class="uk-form-label uk-text-uppercase" for="id" style="color: #666666">ID</label>
            <div class="uk-form-controls" uk-tooltip="title: Pipeline ID; pos: top-left; delay: 500">
                <input class="uk-input" type="text" value="{{id}}" disabled>
                <input class="uk-input" id="id" name="id" type="text" value="{{id}}" hidden>
            </div>
        </div>
        {{/id}}
        <div class="uk-margin">
            <label class="uk-form-label uk-text-uppercase" for="name" style="color: #666666">Name</label>
            <div class="uk-form-controls" uk-tooltip="title: Pipeline name; pos: top-left; delay: 500">
                <input class="uk-input" id="name" name="name" type="text" value="{{name}}" required>
            </div>
        </div>
        <div class="uk-flex uk-flex-left uk-flex-top uk-flex-nowrap uk-width-1-1">
            <div class="uk-flex-none uk-width-3-4 uk-background-default uk-overflow-auto" style="border: 1px solid #e5e5e5;">
                <div id="stages" class="uk-flex uk-flex-left uk-flex-top uk-flex-nowrap uk-padding-small"></div>
            </div>
            <div class="uk-flex-none uk-margin-remove-last-child uk-width-1-4" style="height: 400px; overflow-y: auto; padding-left: 10px;">
                {{#workers}}
                <div class="uk-flex uk-flex-left uk-flex-top uk-flex-nowrap uk-width-1-1 uk-margin-small-bottom" style="border: 1px dashed #e5e5e5">
                    <div class="uk-width-auto uk-margin-small-right">
                        <button class="uk-button uk-button-default uk-icon uk-padding-remove" style="height: 48px;" type="button" uk-icon="chevron-left" onclick="active_cmp.form.addStage('{{w_id}}')" uk-tooltip="title: Add Worker; pos: top-left; delay: 500"></button>
                    </div>
                    <div class="uk-width-expand">
                        <div class="uk-text-truncate">{{w_name}}</div>
                        <div class="uk-text-small uk-text-light uk-text-truncate">{{w_id}}</div>
                    </div>
                </div>
                {{/workers}}
            </div>
        </div>
        <hr class="uk-float-left uk-width-1-1 uk-margin-small-top uk-margin-small-bottom">
        <div>
            <button class="uk-button uk-button-text" style="display: inline-flex; align-items: center;" type="button" onclick="confirm('Cancel and return to Pipelines?') ? window.open('/pipelines','_self') : null">Cancel<span style="margin-left: 5px" uk-icon="icon: close"></span></button>
            <button class="uk-button uk-button-text uk-margin-left" style="display: inline-flex; align-items: center;" type="submit">Save<span style="margin-left: 5px" uk-icon="icon: check"></span></button>
        </div>
    </form>
</div>